# App
PORT=3000
APP_URL=http://localhost:3000

# Database
DATABASE_URL=postgresql://user:pass@localhost:5432/ecommerce_db

# JWT
JWT_SECRET=
JWT_REFRESH_SECRET=

# Mail
MAIL_PROVIDER=mock|resend|gmail
MAIL_FROM=
RESEND_API_KEY=
GMAIL_USER=
GMAIL_APP_PASSWORD=

# Payment
VNPAY_PROVIDER=mock|real
VNPAY_TMN_CODE=
VNPAY_SECRET_KEY=

# Shipping
SHIPPING_PROVIDER=ghn-mock|ghn-sandbox|ghn
GHN_TOKEN=
GHN_SHOP_ID=
GHN_API_URL=
GHN_SERVICE_TYPE_ID=2
GHN_PAYMENT_TYPE_ID=1
GHN_REQUIRED_NOTE=KHONGCHOXEMHANG
GHN_DEFAULT_LENGTH=20
GHN_DEFAULT_WIDTH=20
GHN_DEFAULT_HEIGHT=10
GHN_DEFAULT_ITEM_WEIGHT=500
GHN_INSURANCE_VALUE=0
GHN_MOCK_FEE=30000
GHN_MOCK_STEP_SECONDS=30

# Address
ADDRESS_PROVIDER=ghn-sandbox|ghn

# Cloudinary
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=